In [1]:
import pandas as pd

In [2]:
data1=[4,8,15,16,23,42]

In [5]:
series1=pd.Series(data1)

In [6]:
series1

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [7]:
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

series = pd.Series(my_list)

print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [9]:
data2={"Name":["Alice","Bob","Claire"],
"Age":["25","30","27"],
"Gender":["Female","Male","Female"]}

In [12]:
df=pd.DataFrame(data2)

In [13]:
df

     Name Age  Gender
0   Alice  25  Female
1     Bob  30    Male
2  Claire  27  Female

In [ ]:
Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

answer:
Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
ChatGPT
In Pandas, a DataFrame is a two-dimensional, size-mutable, and heterogeneous tabular data structure with labeled axes (rows and columns). It can be thought of as a spreadsheet or SQL table, where data is stored in rows and columns. Each column in a DataFrame is a Pandas Series.

On the other hand, a Pandas Series is a one-dimensional labeled array capable of holding data of any type (integer, float, string, etc.). It is similar to a one-column DataFrame but without column names, although it does have an index.

Here's a breakdown of the differences between DataFrame and Series:

Dimensionality:

DataFrame: Two-dimensional (rows and columns).
Series: One-dimensional (single column of data).
Mutability:

DataFrame: Size-mutable (can add or remove rows and columns).
Series: Size-immutable (once created, the size cannot be changed).
Heterogeneity:

DataFrame: Can contain columns of different data types.
Series: Contains data of a single data type.
Labeling:

DataFrame: Both rows and columns are labeled.
Series: Only has one set of labels (the index).
Methods and Attributes:

DataFrame: Contains methods and attributes specific to two-dimensional data structures, such as df.head(), df.info(), and df.describe().
Series: Contains methods and attributes specific to one-dimensional data structures, such as series.mean(), series.unique(), and series.value_counts().